*{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
main{
    height: 100vh;
    background:linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://img.freepik.com/free-photo/full-shot-man-carrying-baggage_23-2149963942.jpg?t=st=1718107596~exp=1718111196~hmac=7fecd6daa11984c0df8b9d2fe368f5544c10fa114fcde1606ba62c45133b01d1&w=740");
    background-position: center;
    background-size: cover;
    
    /* background-size: ; */
}
.nav-bar{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.fs-b{
    font-size: 60px;
}
.servi{
    background: #BF815E;
}
.servi1{
    background: #8C5C4A;
}
.servi2{
    background: #402B24;
}
section.rooms{
    /* height: 100vh; */
    background: linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("https://img.freepik.com/free-photo/luxury-bedroom-suite-resort-high-rise-hotel-with-working-table_105762-1783.jpg?t=st=1718015000~exp=1718018600~hmac=84eeac93c5d6320634829a4760a616f9194817e8ef710b85e6d2494422423903&w=3740");
    background-position: center;
    background-size: cover;
}
.room-image{
    height: 250px;
    background: url("https://img.freepik.com/free-photo/3d-rendering-luxury-modern-bedroom-suite-hotel-with-tv-cabinet_105762-2278.jpg?t=st=1718016172~exp=1718019772~hmac=2986fbd75817d094cff07ba380e16eac6c0b4a0506615b0432b9dfa39df9908f&w=770");
    background-position: center;
    background-size: cover;
}
.room-image1{
    height: 250px;
    background: url("https://img.freepik.com/free-psd/realistic-modern-double-bedroom-with-furniture-frame_176382-437.jpg?t=st=1718016390~exp=1718019990~hmac=39a483f9dec7ceed6be91c32026e7db127a72f025dff3ef4fbb89a6f27580d54&w=826");
    background-position: center;
    background-size: cover;
}
.room-image2{
    height: 250px;
    background: url("https://img.freepik.com/free-psd/realistic-modern-double-bedroom-with-furniture-frame_176382-423.jpg?t=st=1718016455~exp=1718020055~hmac=6b37f9e213a7d26e4dd2e12a948cbae327c26e528e149fcbe0e5e251e2df28a4&w=826");
    background-position: center;
    background-size: cover;
}
.room-content{
    /* height: 200px; */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: -30px;
}
.left{
    background: #8C5C4A;
}
.servicesection{
    background: #8C5C4A;
    /* height: 80vh; */
}
.bg-blac{
    background: #402B24;
}
.dess{
    cursor: pointer;
}
.desert,.allimages,.coffee {
    height: 200px;
    object-fit: cover;
    /* width: 200px; */
}
.cursor{
    cursor: pointer;
}
.event-image{
    height: 228px;
    width: 100%;
    object-fit: cover;
}


@media (max-width:1024px) {
    .event-image{
        height: 215px;
    }
}
@media (max-width:767px) {
    .ovx{
        overflow-x: scroll;
        flex-wrap: nowrap !important;
    }
    .event-image{
        height: 228px;
    }
}
